/* styles fonts.css */
@font-face {
  font-family: "poppins";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/poppins/Poppins-Black.ttf") format("truetype"),
    url("/fonts/poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "inconsolata";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/inconsolata/Inconsolata-ExtraLight.ttf") format("truetype"),
    url("/fonts/inconsolata/Inconsolata-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "inconsolata";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/inconsolata/Inconsolata-Light.ttf") format("truetype"),
    url("/fonts/inconsolata/Inconsolata-Light.ttf") format("truetype");
}

@font-face {
  font-family: "inconsolata";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/inconsolata/Inconsolata-Regular.ttf") format("truetype"),
    url("/fonts/inconsolata/Inconsolata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "inconsolata";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/inconsolata/Inconsolata-Medium.ttf") format("truetype"),
    url("/fonts/inconsolata/Inconsolata-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "inconsolata";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/inconsolata/Inconsolata-SemiBold.ttf") format("truetype"),
    url("/fonts/inconsolata/Inconsolata-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "inconsolata";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/inconsolata/Inconsolata-Bold.ttf") format("truetype"),
    url("/fonts/inconsolata/Inconsolata-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "inconsolata";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/inconsolata/Inconsolata-ExtraBold.ttf") format("truetype"),
    url("/fonts/inconsolata/Inconsolata-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "inconsolata";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/inconsolata/Inconsolata-Black.ttf") format("truetype"),
    url("/fonts/inconsolata/Inconsolata-Black.ttf") format("truetype");
}
